@use "sass:math";

@use "../bourbon/addons/text-inputs";
@use "../bourbon/functions/shade";
@use "../variables";

fieldset {
  background-color: variables.$secondary-background-color;
  border: variables.$base-border;
  margin: 0 0 variables.$small-spacing;
  padding: variables.$base-spacing;
}

input,
label,
select {
  display: block;
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: variables.$small-spacing * 0.5;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{text-inputs.$all-text-inputs},
select[multiple=multiple] {
  background-color: variables.$base-background-color;
  border: variables.$base-border;
  border-radius: variables.$base-border-radius;
  box-shadow: variables.$form-box-shadow;
  box-sizing: border-box;
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  margin-bottom: variables.$small-spacing;
  padding: math.div(variables.$base-spacing, 3);
  transition: border-color variables.$base-duration variables.$base-timing;
  width: 100%;

  &:hover {
    border-color: shade.shade(variables.$base-border-color, 20%);
  }

  &:focus {
    border-color: variables.$action-color;
    box-shadow: variables.$form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade.shade(variables.$base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: variables.$base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: variables.$small-spacing * 0.5;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: variables.$small-spacing;
  width: 100%;
}

select {
  margin-bottom: variables.$base-spacing;
  max-width: 100%;
  width: auto;
}
