@use "../bourbon/functions/shade";
@use "../variables";

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: variables.$small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade.shade(variables.$base-border-color, 25%);
  font-weight: 600;
  padding: variables.$small-spacing 0;
  text-align: left;
}

td {
  border-bottom: variables.$base-border;
  padding: variables.$small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}
