@use "sass:color";
@use "../bourbon/functions/px-to-rem";
@use "../bourbon/functions/shade";
@use "../variables";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700");
// @import url("//fonts.googleapis.com/css?family=Merriweather:400,300,700");

body {
  color: variables.$base-font-color;
  font-family: variables.$base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: variables.$base-font-size;
  line-height: variables.$base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$heading-line-height;
  margin: 0 0 variables.$small-spacing;
  font-weight: 300;
}

h1 {
  font-size: px-to-rem.rem(30);
}

h2 {
  font-size: px-to-rem.rem(26);
}

h3 {
  font-size: px-to-rem.rem(24);
}

h4 {
  font-size: px-to-rem.rem(20);
}

h5,
h6 {
  font-size: px-to-rem.rem(16);
}

p {
  margin: 0 0 variables.$small-spacing;

  &.lead {
    font-size: px-to-rem.rem(22);
    font-weight: 300;
  }
}

a {
  color: variables.$action-color;
  text-decoration: none;
  transition: color variables.$base-duration variables.$base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade.shade(variables.$action-color, 25%);
  }
}

hr {
  border-bottom: variables.$base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: variables.$base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0 0 0 variables.$base-spacing;
  margin: variables.$base-spacing 0;
  color: variables.$medium-gray-color;
  line-height: 1.8;
  border-left: variables.$small-spacing solid variables.$light-gray-color;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0 5px;
  background-color: color.adjust(variables.$light-gray-color, $lightness: 13%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;

  code {
    line-height: 1.75em;
  }
}
