@use "sass:color";
@use "bourbon/css3/transition";
@use "bourbon/functions/px-to-rem";
@use "variables";

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

body {
  background-color: variables.$base-background-color;
  font-weight: 400;
}

hr {
  border-top: none;
  border-bottom: 2px solid color.adjust(variables.$light-gray-color, $lightness: 7%);
  width: 100%;
  margin: variables.$small-spacing 0;
}

.container {
  padding: variables.$base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link {
  display: inline-block;
  padding-bottom: .08em;
  border-bottom: 2px solid variables.$light-gray-color;

  @include transition.transition(border 300ms linear);

  &:hover,
  &:focus,
  &:active {
    border-color: color.adjust(variables.$light-gray-color, $lightness: -10%);
  }
}

.site-header {
  border-top: 5px solid variables.$light-gray-color;
  border-bottom: 1px solid color.adjust(variables.$light-gray-color, $lightness: 5%);
  margin-bottom: variables.$small-spacing;
  min-height: 80px;
}

.intro {
  .emphasise {
    background-color: variables.$action-color;
    color: variables.$white-color;
    display: inline-block;
    padding: 0 .3em;
  }

  a {
    @extend .link;
  }
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

  span {
    font-weight: 700;
  }
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 0 .6em;
  }

  a {
    @extend .link;
  }
}

.post-list {
  background-color: color.adjust(variables.$light-gray-color, $lightness: 17%);
  padding: variables.$base-spacing 0;
}

.post-item {
  padding-bottom: variables.$small-spacing;
  margin-bottom: variables.$base-spacing;
  border-bottom: 1px solid color.adjust(variables.$light-gray-color, $lightness: 5%);

  strong {
    font-weight: 700;
  }


  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .readmore {
    font-style: italic;
  }
}

.post-meta, .post-item {
  a.tag {
    color: variables.$medium-gray-color;
    background: color.adjust(variables.$light-gray-color, $lightness: 5%);
    border-radius: 5px;
    padding: .05em .75em;
    font-size: .75em;
    text-transform: capitalize;
    transition: .5s all;
    &:hover {
        background: variables.$light-gray-color;
        color: color.adjust(variables.$medium-gray-color, $lightness: -5%);
    }
  }
}

.post-meta {
  color: variables.$medium-gray-color;
  font-style: italic;
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.page-content {
    .tag {
        text-transform: capitalize;
        text-decoration: none;
        color: variables.$base-font-color;
        border: none;
        &:hover {
            &:after {
                content: " ¶"
            }
        }
    }
    .tag-cloud {
        text-transform: capitalize;
        a {
            margin-right: .5em;
            display: inline-block;
        }
    }
    ul {
        margin-bottom: 2em;
    }
}

.post {
  @extend .clearfix;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: px-to-rem.rem(12);
    padding: .5em;
  }

  .prev, .next {
    @extend .link;
  }
}

.share {
  padding: variables.$base-spacing 0 0;

  @extend .pull-right;

  h4 {
    display: inline-block;
  }
}

.disqus {
  background-color: color.adjust(variables.$light-gray-color, $lightness: 16%);
  padding: variables.$base-spacing 0;

  hr {
    margin: variables.$base-spacing 0;
  }
}

.site-footer {
  @extend .clearfix;

  padding: variables.$base-spacing 0;

  a {
    @extend .link;
  }

  small {
    display: block;
    font-size: px-to-rem.rem(12);
    color: color.adjust(variables.$medium-gray-color, $lightness: -10%);
  }
}
